{% extends 'layout.html' %}

{%- import 'forms.html' as forms -%}

{% block title %}
Comparing {{ field_a }} with {{ field_b }}
{% endblock %}

{% block content %}
{{- forms.search(q, filters, filter_link) -}}
<hr>

<p>
Considering all documents matching the filters.
</p>

<table>
<tr>
  <th>{{ field_a|title }}</th>
  <th>Total documents</th>
  <th>Documents with no {{ field_b }}</th>
  <th>Values of {{ field_b }}...</th>
</tr>
{%- for info in field_overlap -%}
<tr>

  <th>{{ info.title }}</th>
  <td>{{ info.documents }}</td>
  <td>{{ info.no_value_count }}</td>
  {%- for value, count in info.counts -%}
  <td>{{ value }}<br>{{ count }}</td>
  {%- endfor -%}
  <td></td>

</tr>

{%- endfor -%}
</table>

{% endblock %}
