{%- import 'boilerplate.html' as boilerplate -%}
{%- import 'documents.html' as documents -%}
{%- import 'forms.html' as forms -%}
{%- import 'facets.html' as facets -%}
{{- boilerplate.header("Comparing %s with %s" % (field_a, field_b)) -}}
{{- forms.search(q, filters, filter_link) -}}
<hr>

<table>
{%- for info in field_overlap -%}
<tr>

  <th>{{ info.title }} ({{ info.documents }}</th>
  {%- for value, count in info.counts -%}
  <td>{{ value }}<br>{{ count }}</td>
  {%- endfor -%}
  <td></td>

</tr>

{%- endfor -%}
</table>

{{- boilerplate.footer() -}}
