{% extends 'layout.html' %}

{%- import 'documents.html' as documents -%}
{%- import 'forms.html' as forms -%}
{%- import 'facets.html' as facets -%}

{% block content %}
{{- forms.search(scope) -}}
<hr>

<div id="tabs">
  <ul>
    <li><a href="#documents">Documents<br>{{ results.count }} matching</a></li>
    {%- for field, value in results.facets.items() -%}
      <li><a href="#facet-{{ field }}">{{ field }}<br>{{ value["total_options"] }} values</a></li>
    {%- endfor -%}
  </ul>

  <ul>
    <li id="documents">
    {{ documents.documents(results, scope, title_or_slug) }}
    </li>
    {%- for field in results.facets.keys() -%}
      <li id="facet-{{ field }}">
        {{ facets.facet(results, field, scope) }}
      </li>
    {%- endfor -%}
  </ul>
</div>

{% endblock %}
