.facet_options {
  border: 1px solid black;
  display: block;
  overflow: scroll;
}

a {
  text-decoration: none;
}

ul {
  padding: 0
}
li {
  list-style: none;
}

.option_links {
  margin-bottom: 1em;
}

.option_links ul {
  display: inline;
}

.option_links ul li {
  display: inline;
  border: thin solid black;
  color: red;
  margin-left: 1em;
}
